<div class="splash-container">
    <div class="splash">
        <p class="splash-subhead">
            Power Hour was created by Ryan Levi on February 22, 2014 using <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://heroku.com/">Heroku</a>, <a href="http://www.last.fm/api">Last.fm</a>, <a href="https://www.apple.com/itunes/affiliates/resources/documentation/itunes-store-web-service-search-api.html">iTunes previews</a>, <a href="http://purecss.io/">Pure CSS</a>, <a href="http://www.codebasehero.com/2011/07/html5-music-player-updated/">this media player</a>, and most importantly <a href="https://github.com/ryanlevi/power_hour">love</a>.
        </p>
    </div>
</div>