<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head" style="margin-top:0px;">Power Hour</h1>
        <p class="splash-subhead">
            Type in a song title or artist below to get started
            <form action="/playlist">
              <p><input type="search" name="query"><br>
                    </p>
                    <p>
            <button class="pure-button pure-button-primary" type="submit">Get Started</form>
        </p>
    </div>
</div>