<p><p><br><p>
<center><form action="/settings">
  <font color=white>Max Number of Songs? <input type="search" name="limit" value="<%= cookies[:limit] %>" style="width:30px;">
<button class="pure-button" style="padding: 8px;" type="submit">Change</form>