<p><p><br><p>
<center><form action="/settings">
  <font color=white>Max Number of Songs? <input type="search" name="limit" value=<%= session[:user][:limit] %> style="width:25px;">
<button class="pure-button" style="padding: 8px;" type="submit">Change</form>