<!DOCTYPE html>
<html>
<head>
  <title>PowerHour</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style>
body
{
background-image:url('/assets/bg.jpg');
}
p
{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
<body>

<%= yield %>

</body>
</html>
<p>Music player from http://www.codebasehero.com/2011/07/html5-music-player-updated/
</p>